.container {
  padding: 3rem;
}
.box {
  height: 20px;
}
.message-error {
  background-color: red;
  color: white;
  opacity: 0;
  transition: all linear 0.5s;
}
.message-error.show {
  opacity: 1;
}
